*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c6a279;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f572f;
    border: 1px solid #7f572f;
    color: antiquewhite;
    text-align: center;
    font-size: 1vw;
    padding: 1vw;
   margin: 2vw 0;
}



@media only screen and (min-width:320px) and (max-width:768px){
    .nav{
        background-color: antiquewhite;
        border-bottom: 1px solid #7f572f;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    
    
    .nav-div{
        display: flex;
        flex-direction: column;
        
        
    }
    .a {
        color: #521515;
        text-decoration: none;
        font-size: 1.9vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 2vw;
        background-color: antiquewhite;
        margin-right: 0.5vw;
    }
    
    .a[href="#"]{
        color: #521515;
        background-color: #f26b8c;
    }
    
    .a:hover{
        color: #521515;
        background-color: #faa6ac;
    }
    .nav-div-img{
        width: 20vw;
        height: 20vw;
        align-self: center;
        background-image: url(../Imagenes/IceCream/logos.png);
        background-position: 50% center;
        background-size: cover;
    }
    
    .titles{
        margin: 5vw;
        color: #521515;
    }
    
    .div-title{
        text-align: center;
        font-size: 7vw;
        
    }
    
    .div-subtitle{
        text-align: center;
        font-size: 3vw;
    }
    
    
    .container{
        margin: 2vw;
        display: flex;
        flex-wrap: nowrap;
        height: 22vw;
        margin-bottom: 4vw;
    }
    
    .container-div {
        display: inline-block;
        width: 19vw;
        
    }
    
    .container-img{
        transition: all 1s;
        transform-origin: center center; 
    }
    
    .container-img-1{
        height: 22vw;
        background-image: url(../Imagenes/IceCream/icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        background-repeat: no-repeat;
        transform-origin: left center;
    }
    
    .container-img-2,.container-img-3,.container-img-4{
        height: 22vw;
        background-position: 50% center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .container-img-2{
        background-image: url(../Imagenes/IceCream/pancakes-ice.jpg);
    }
    
    .container-img-3{
        background-image: url(../Imagenes/IceCream/redcream.jpg);
    }
    .container-img-4{
        background-image: url(../Imagenes/IceCream/strawberry.jpg);
    }
    .container-img-5{
        height: 22vw;
        background-image: url(../Imagenes/IceCream/two-icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        transform-origin: right center;
        background-repeat: no-repeat;
    }
    
    
    .container-img:hover{
        transform: scale(1.25);
        
    }
    
 
    .container-prueba {
        color: #521515;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 70vw;
        margin: 6vw ;
    }
    .section-img{
        align-self: center;
        width: 30vw;
        height: 30vw;  
        margin-bottom: 3vw;
    }
    
     .section-p{
        width: 70vw;
        text-align: center ;
        font-size: 2.5vw;
    } 
    
    
    
    
    /* Here begins page two */
    
    .p2-container, .p2-container-2, .p2-container-3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60vw;
    }
    
    .p2-container-img, .p2-container-2-img, .p2-container-3-img{
        width: 40vw;
        
    }
    
    .p2-container-p, .p2-container-2-p, .p2-container-3-p{
        color: #521515;
        width: 50vw;
        text-align: center;
        font-size: 2.5vw;
    }
    
    
    /* Here begins page theree */
    .section-place-order{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place-order{
        width: 55vw;
    }
    
    .place-order-p{
        color: #521515;
        margin: 20px 50px 20px 50px;
        text-align: center;
        font-size: 2.5vw;
    }
    
    .p3-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .p3-container-data{
        font-size: 2.5vw;
        font-weight: bold;
        align-items: center;
        padding: 0.6vw;
        margin: 3vw;
        border: 2px solid #f26b8c;
        border-radius: 20px;
        background-color: antiquewhite;
        display: flex;
    }
    
    .p3-container-data:hover{
        color: #521515;
        background-color: #faa6ac;
    }
    .p3-container-a{
        text-decoration: none;
        color: #521515;
    }
    
    
    .img-a-mail, .img-a-wpp{
        width: 6vw;
    
    }
    
    
    /* Here begins page four */
    
    .container-p4{
        display: flex;
        justify-content: center;
    }
    
    th,tr,td {
        border: 1px solid #521515;
        padding: 15px;
        font-size: 2.5vw;
        text-align: center;
        color: #521515;
        
    }
    
    table{
        margin: 0 0 50px 0;
    }
    
    /* Here begins page five */
    
    .img-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .container-p5{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #521515;
        width: 90vw;
        /* height: 45vh; */
        margin: 0 4vw 5vh 6vw;
        border: 2px solid #7f572f;
        border-radius: 30px;
    }
    
    .container-p5-ul1{
        font-size: 2.5vw;
       
    }
    
    .container-p5-ol1{
        margin: 20px 0  0 50px;
    
    }
    
    .ul-li-1{
        font-weight: bold;
    }
    
    .ul-li-2{
        list-style-type: none;
    }
    
    .img2-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .star{
        width: 6vw;
        height: 5vw;
    }
    
    .ul-li-img{
        list-style-type: none;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    
    .p5-p{
        font-size: 2.5vw;
        color: #521515;
        text-align: center;
        margin: 50px 20px 70px 20px;
    }
    
    /* Here begins page six */

    iframe{
        width:74vw; 
        height:59vw;
    }
    
    .map-form{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    
    .map{
        margin-top: 2vh;
        margin-left: 2vw;

    }
    .map-title{
        font-size: 2.7vw;
        margin-bottom: 2vh;
        text-align: center;
        color: #521515;
    }
    
    .form{
        display: flex;
        justify-content: center;
    }
    
    .formulario{
       width: 55vw;
       margin-left: 21vw;
        
    }
    
    label{
        font-weight: bold;
        color: #521515;
        font-size: 2.5vw;
    }
    input, select{
        margin-bottom: 10px;
        width: 36vw;
        height: 6vh;
        font-size: 2vw;
    }
    option{
        text-align: center;
    }
    .payment{
        margin-bottom: 1vh;
    }
    #cash,#credit-card,#debit-card{
        width: 2vw;
        height: 2vw;
        margin-bottom: 0;
        margin-left: 2vw;
    }
    
    .cash,.credit-card,.debit-card{
        font-size: 2vw;
    }
    
    #debit-card{
        margin-bottom: 1vh;
    }
    #cash{
        margin-top: 1vh;
    }
    
    #text{
        width: 36vw;
        height: 12vh;
        font-size: 2vw;
        padding: 1vw;
        margin-bottom: 1vh;
    }
    #terms-conditions{
        width: 2vw;
        height: 2vh;
        margin-top: 1vh;
        margin-left: -5vw;
    }
    
    .send{
        height: 3vh;
        width: 8vw;
        margin-left: 1vw;
        border: 2px solid #f26b8c;
        border-radius: 2vw;
        background-color: antiquewhite;
        color: #521515;
        font-weight: bold
    }
    
    .send:hover{
        color: #7f572f;
        background-color: #faa6ac;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){
    body{
        background-color: #f26b8c;
    }
    .nav{
        background-color: antiquewhite;
        border-bottom: 1px solid #7f572f;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column-reverse;
        justify-content: center;
        
    }
    
    
    .nav-div{
        display: flex;
        flex-direction: column;
        
        
    }
    .a {
        color: #521515;
        text-decoration: none;
        font-size: 1.9vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 2vw;
        background-color: antiquewhite;
        margin-right: 0.5vw;
    }
    
    .a[href="#"]{
        color: #521515;
        background-color: #c6a279;
    }
    
    .a:hover{
        color: #521515;
        background-color: rgb(76, 110, 11);
    }
    .nav-div-img{
        width: 20vw;
        height: 20vw;
        align-self: center;
        background-image: url(../Imagenes/IceCream/logos.png);
        background-position: 50% center;
        background-size: cover;
    }
    
    .titles{
        margin: 5vw;
        color: white;
    }
    
    .div-title{
        text-align: center;
        font-size: 7vw;
        
    }
    
    .div-subtitle{
        text-align: center;
        font-size: 3vw;
    }
    
    
    .container{
        margin: 2vw;
        display: flex;
        flex-wrap: nowrap;
        height: 22vw;
        margin-bottom: 4vw;
    }
    
    .container-div {
        display: inline-block;
        width: 19vw;
        
    }
    
    .container-img{
        transition: all 1s;
        transform-origin: center center; 
    }
    
    .container-img-1{
        height: 22vw;
        background-image: url(../Imagenes/IceCream/icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        background-repeat: no-repeat;
        transform-origin: left center;
    }
    
    .container-img-2,.container-img-3,.container-img-4{
        height: 22vw;
        background-position: 50% center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .container-img-2{
        background-image: url(../Imagenes/IceCream/pancakes-ice.jpg);
    }
    
    .container-img-3{
        background-image: url(../Imagenes/IceCream/redcream.jpg);
    }
    .container-img-4{
        background-image: url(../Imagenes/IceCream/strawberry.jpg);
    }
    .container-img-5{
        height: 22vw;
        background-image: url(../Imagenes/IceCream/two-icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        transform-origin: right center;
        background-repeat: no-repeat;
    }
    
    
    .container-img:hover{
        transform: scale(1.25);
        
    }
    
 
    .container-prueba {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        height: 70vw;
        margin: 6vw ;
    }
    .section-img{
        align-self: center;
        width: 30vw;
        height: 30vw;  
        margin-bottom: 3vw;
    }
    
     .section-p{
        width: 70vw;
        text-align: center ;
        font-size: 2.5vw;
    } 
    
    
    
    
    /* Here begins page two */
    
    .p2-container, .p2-container-2, .p2-container-3{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60vw;
    }
    
    .p2-container-img, .p2-container-2-img, .p2-container-3-img{
        width: 40vw;
        
    }
    
    .p2-container-p, .p2-container-2-p, .p2-container-3-p{
        color: white;
        width: 50vw;
        text-align: center;
        font-size: 2.5vw;
    }
    
    
    /* Here begins page theree */
    .section-place-order{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place-order{
        width: 55vw;
    }
    
    .place-order-p{
        color: white;
        margin: 20px 50px 20px 50px;
        text-align: center;
        font-size: 2.5vw;
    }
    
    .p3-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .p3-container-data{
        font-size: 2.5vw;
        font-weight: bold;
        align-items: center;
        padding: 0.6vw;
        margin: 3vw;
        border: 2px solid #6b750c;
        border-radius: 20px;
        background-color: #c6a279;
        display: flex;
    }
    
    .p3-container-data:hover{
        color: white;
        background-color: rgb(76, 110, 11);
    }
    .p3-container-a{
        text-decoration: none;
        color: white;
    }
    
    
    .img-a-mail, .img-a-wpp{
        width: 6vw;
    
    }
    
    
    /* Here begins page four */
    
    .container-p4{
        display: flex;
        justify-content: center;
    }
    
    th,tr,td {
        border: 1px solid #521515;
        padding: 15px;
        font-size: 2.5vw;
        text-align: center;
        color: white;
        
    }
    
    table{
        margin: 0 0 50px 0;
    }
    
    /* Here begins page five */
    
    .img-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .container-p5{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: white;
        width: 90vw;
        /* height: 45vh; */
        margin: 0 4vw 5vh 6vw;
        border: 2px solid #7f572f;
        border-radius: 30px;
    }
    
    .container-p5-ul1{
        font-size: 2.5vw;
       
    }
    
    .container-p5-ol1{
        margin: 20px 0  0 50px;
    
    }
    
    .ul-li-1{
        font-weight: bold;
    }
    
    .ul-li-2{
        list-style-type: none;
    }
    
    .img2-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .star{
        width: 6vw;
        height: 5vw;
    }
    
    .ul-li-img{
        list-style-type: none;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    
    .p5-p{
        font-size: 2.5vw;
        color: white;
        text-align: center;
        margin: 50px 20px 70px 20px;
    }
    
    /* Here begins page six */

    iframe{
        width:74vw; 
        height:59vw;
    }
    
    .map-form{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    
    .map{
        margin-top: 2vh;
        margin-left: 2vw;

    }
    .map-title{
        font-size: 2.7vw;
        margin-bottom: 2vh;
        text-align: center;
        color: white;
    }
    
    .form{
        display: flex;
        justify-content: center;
    }
    
    .formulario{
       width: 55vw;
       margin-left: 21vw;
        
    }
    
    label{
        font-weight: bold;
        color: white;
        font-size: 2.5vw;
    }
    input, select{
        margin-bottom: 10px;
        width: 36vw;
        height: 6vh;
        font-size: 2vw;
    }
    option{
        text-align: center;
    }
    .payment{
        margin-bottom: 1vh;
    }
    #cash,#credit-card,#debit-card{
        width: 2vw;
        height: 2vw;
        margin-bottom: 0;
        margin-left: 2vw;
    }
    
    .cash,.credit-card,.debit-card{
        font-size: 2vw;
    }
    
    #debit-card{
        margin-bottom: 1vh;
    }
    #cash{
        margin-top: 1vh;
    }
    
    #text{
        width: 36vw;
        height: 12vh;
        font-size: 2vw;
        padding: 1vw;
        margin-bottom: 1vh;
    }
    #terms-conditions{
        width: 2vw;
        height: 2vh;
        margin-top: 1vh;
        margin-left: -5vw;
    }
    
    .send{
        height: 5vh;
        width: 8vw;
        margin-left: 1vw;
        border: 2px solid #f26b8c;
        border-radius: 2vw;
        background-color: #c6a279;
        color: white;
        font-weight: bold
    }
    
    .send:hover{
        color: #7f572f;
        background-color: rgb(76, 110, 11);
    }
} 

@media only screen and (min-width:1025px) {
    .nav{
        background-color: #7f572f;
        border: 1px solid #7f572f;
        border-radius: 40px;
        margin: 20px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
    
    
    .nav-div{
        display: flex;
        flex-wrap: nowrap;
        margin: 30px 10px 20px 30px;
        padding: 35px;
        
    }
    .a {
        color: #521515;
        text-decoration: none;
        font-size: 1.5vw;
        font-weight: bold;
        align-items: center;
        padding: 10px;
        border: 2px solid #f26b8c;
        border-radius: 20px;
        background-color: antiquewhite;
        margin-right: 0.5vw;
    }
    
    .a[href="#"]{
        color: #521515;
        background-color: #f26b8c;
    }
    
    .a:hover{
        color: #521515;
        background-color: #faa6ac;
    }
    .nav-div-img{
        width: 9vw;
        height: 8vw;
        align-self: center;
        background-image: url(../Imagenes/IceCream/logos.png);
        background-position: 50% center;
        background-size: cover;
    }
    
    .titles{
        margin: 60px 0 70px 0;
        color: #521515;
    }
    
    .div-title{
        text-align: center;
        font-size: 4vw;
        
    }
    
    .div-subtitle{
        text-align: center;
        font-size: 1.9vw;
    }
    
    
    .container{
        margin: 2vw;
        display: flex;
        flex-wrap: nowrap;
        height: 300px;
        
    }
    
    .container-div {
        display: inline-block;
        width: 19vw;
        
    }
    
    .container-img{
           
        transition: all 1s;
        transform-origin: center center; 
    }
    
    .container-img-1{
        height: 300px;
        background-image: url(../Imagenes/IceCream/icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        transform-origin: left center;
    }
    
    .container-img-2,.container-img-3,.container-img-4{
        height: 300px;
        background-position: 50% center;
        background-size: cover;
    }
    
    .container-img-2{
        background-image: url(../Imagenes/IceCream/pancakes-ice.jpg);
    }
    
    .container-img-3{
        background-image: url(../Imagenes/IceCream/redcream.jpg);
    }
    .container-img-4{
        background-image: url(../Imagenes/IceCream/strawberry.jpg);
    }
    .container-img-5{
        height: 300px;
        background-image: url(../Imagenes/IceCream/two-icecream.jpg);
        background-position: 50% center;
        background-size: cover;
        transform-origin: right center;
    }
    
    
    .container-img:hover{
        transform: scale(1.25);
        
    }
    
    .container-prueba {
        color: #521515;
        position: relative;
        width: 95vw;
        height: 75vh;
    }
    .container-prueba {
        color: #521515;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 75vh;
    }
    .section-img{
        align-self: center;
        width: 30vw;
        height: 30vw;  
    }
    
     .section-p{
    
        width: 50vw;
        text-align: center ;
        font-size: 1.7vw;
    } 
    
    
    
    
    /* Here begins page two */
    
    .p2-container, .p2-container-2, .p2-container-3{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
    }
    
    .p2-container-img, .p2-container-2-img, .p2-container-3-img{
        width: 27vw;
        
    }
    
    .p2-container-p, .p2-container-2-p, .p2-container-3-p{
        color: #521515;
        width: 40vw;
        text-align: center;
        font-size: 1.7vw;
    }
    
    
    /* Here begins page theree */
    .section-place-order{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .place-order{
        width: 55vw;
    }
    
    .place-order-p{
        color: #521515;
        margin: 20px 50px 20px 50px;
        text-align: center;
        font-size: 1.8vw;
    }
    
    .p3-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .p3-container-data{
        font-size: 30px;
        font-size: 1.2vw;
        font-weight: bold;
        align-items: center;
        padding: 0.6vw;
        margin: 3vw;
        border: 2px solid #f26b8c;
        border-radius: 20px;
        background-color: antiquewhite;
        display: flex;
    }
    
    .p3-container-data:hover{
        color: #521515;
        background-color: #faa6ac;
    }
    .p3-container-a{
        text-decoration: none;
        color: #521515;
    }
    
    
    .img-a-mail, .img-a-wpp{
        width: 3vw;
    
    }
    
    
    /* Here begins page four */
    
    .container-p4{
        display: flex;
        justify-content: center;
    }
    
    th,tr,td {
        border: 1px solid #521515;
        padding: 15px;
        font-size: 2vw;
        text-align: center;
        color: #521515;
        
    }
    
    table{
        margin: 0 0 50px 0;
    }
    
    /* Here begins page five */
    
    .img-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .container-p5{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #521515;
        width: 90vw;
        /* height: 45vh; */
        margin: 0 4vw 8vh 6vw;
        border: 2px solid #7f572f;
        border-radius: 30px;
    }
    
    .container-p5-ul1{
        font-size: 2vw;
       
    }
    
    .container-p5-ol1{
        margin: 20px 0  0 50px;
    
    }
    
    .ul-li-1{
        font-weight: bold;
    }
    
    .ul-li-2{
        list-style-type: none;
    }
    
    .img2-p5{
        width: 28vw;
        height: 25vw;
        margin: 1vw;
    }
    
    .star{
        width: 6vw;
        height: 5vw;
    }
    
    .ul-li-img{
        list-style-type: none;
        margin-top: 50px;
    }
    
    .p5-p{
        font-size: 2vw;
        color: #521515;
        text-align: center;
        margin: 50px 20px 70px 20px;
    }
    
    /* Here begins page six */

    iframe{
        width:40vw; 
        height:30vw;
    }
    
    .map-form{
        display: flex;
        justify-content: space-around;
    }
    
    .map{
        margin-top: 9vh;
        margin-left: 2vw;

    }
    .map-title{
        font-size: 2.7vw;
        margin-bottom: 2vh;
        text-align: center;
        color: #521515;
    }
    
    .form{
        width: 50vw;
    }
    
    .formulario{
        margin-left: 50px;
        
    }
    
    label{
        font-weight: bold;
        color: #521515;
        font-size: 2vw;
    }
    input, select{
        margin-bottom: 10px;
        width: 36vw;
        height: 6vh;
        font-size: 1.5vw;
    }
    option{
        text-align: center;
    }
    .payment{
        margin-bottom: 10px;
    }
    #cash,#credit-card,#debit-card{
        width: 1.3vw;
        height: 1.3vw;
        margin-bottom: 0;
        margin-left: 10px;
    }
    
    .cash,.credit-card,.debit-card{
        font-size: 1.5vw;
    }
    
    #debit-card{
        margin-bottom: 20px;
    }
    #cash{
        margin-top: 1vh;
    }
    
    #text{
        width: 36vw;
        height: 15vh;
        font-size: 20px;
        margin-bottom: 2vh;
    }
    #terms-conditions{
        width: 2vw;
        height: 2vh;
    }
    
    .send{
        height: 4vh;
        width: 6vw;
        margin-left: 1vw;
        border: 2px solid #f26b8c;
        border-radius: 20px;
        background-color: antiquewhite;
        color: #521515;
        font-weight: bold
    }
    
    .send:hover{
        color: #7f572f;
        background-color: #faa6ac;
    }
}
